/**** General styles ****/
h1 {
	text-align: center;
}
form {
	clear: left;
}
.lang-name-col .btn-remove {
	float: right;
}
table .btn {
	padding: 0px 3px;
	margin: 0 0.25em;
}
.btn-remove, .btn-edit, .col-form button {
	float: left;
}
.btn-add-term {
	margin-top: 1em;
}
.center-block {
	float: inherit;
}
caption, h2 {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: left;
	font-size: 1.5em;
   font-weight: bold;
}
.table {
	margin-bottom: 0;
}
input[type=text] {
	padding: 6px 8px;
}
.col-form {
	width: 6em;
}
.overflow {
	overflow: auto;
}

/**** Language list styles ****/
#section-languages th, #section-languages td  {
	vertical-align: middle;
}

.lang-name-col {

}
.lang-code {
   text-transform: uppercase;
   color: #ccc;
   font-weight: bold;
   margin-right: 0.8em;
   min-width: 2em;
}
.badge {
	vertical-align: middle;
}
@media (min-width: 768px) {
	.lang-code-col {
		width: 7em;
	}
	#add-lang-form #new-lang-code {
	    width: 7em;
	    margin-right: 1.5em;
	    float: left;
	 }
	 #add-lang-form #new-lang-name {
	    width: 10.5em;
	    margin-right: 0.5em;
	    float: left;
	 }
	 .two-col-input {
	 	width: 46%;
		min-width: 3em;
	 }
	 .two-col-input.left {
		float: left;
		margin-right: 2em;
	}
	.two-col-input.right {
		float: right;
	}

}

/**** Translations section styles ****/
#section-main {
	margin-top: 4em;
}


/**** Errors ****/
.ng-dirty.ng-invalid, .ng-submitted .ng-invalid {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.ng-dirty.ng-invalid:focus, .ng-submitted .ng-invalid:focus {
   border-color: #843534;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.form-error {
	color: #a94442;
	font-weight: bold;
	font-size: 1.2em;
}


/**** Main styles ****/
#section-main {
	overflow: auto;
}
section.terms-block {
    width: 50%;
    float: left;
}
#btn-add-term {
	margin: 1.5em auto;
}
.input-sm {
	height: 26px;
}
table#section-terms tr.term-row td,
table#section-languages tr.lang-row td {
	line-height: 2;
}
